@using WeevilWorld.Server
@model WeevilWorld.Server.Pages.PlayPageModel
@attribute [ResponseCache(Duration = 60*60*60)]

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weevil World | A Virtual World online, on Apple &amp; on Android</title>
    <meta property="og:title" content="Weevil World" />
	<meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/ww/logo_beta.png" />
    <meta itemprop="description" content="Weevil World is available to play online, on iOS and on Android devices! Play &amp; chat with friends, shop for the latest items, decorate your house &amp; explore the world.">
    <meta property="og:description" content="Weevil World is available to play online, on iOS and on Android devices! Play &amp; chat with friends, shop for the latest items, decorate your house &amp; explore the world." />
    <meta name="keywords" content="games, mobile games, free online games, kids games, racing games, multiplayer games, maths games, virtual pets, pets, competitions, videos, bin, weevils, wivles, benwivles, bin weevils, weevil world">

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" asp-append-version="true">

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/blog.trim.css" asp-append-version="true">
    <link rel="stylesheet" href="/WeevilWorld/TemplateData/style.css" asp-append-version="true">
    
    <script src="/WeevilWorld/TemplateData/UnityProgress.js" asp-append-version="true"></script>
    <script src="@Model.UnityLoaderPath" asp-append-version="true"></script>
    
    <script type="text/javascript">
        var nonce = "";
        var user = "";
        var gameInstance;
        var gameLoaded = false;
        var startTime = new Date().getTime();
    
        function getNonce() {
            // console.log("Giving nonce to unity");
            gameInstance.SendMessage('(singleton) SocketServerConnection', 'SetUser', user);
            gameInstance.SendMessage('(singleton) SocketServerConnection', 'SetNonce', nonce);
            if (!gameLoaded) {
                gameLoaded = true;
            }
        }
    
        function loadNonce() {
            // $.ajax(
            //     {
            //         type: "GET",
            //         url: "https://web.archive.org/web/20201202160834/https://lb.binweevils.com/weevil/nonce",
            //         dataType: 'json',
            //         xhrFields: {
            //             withCredentials: true
            //         },
            //         crossDomain: true,
            //         beforeSend: function (xhr) {
            //         },
            //         success: function (response) {
            //             nonce = response.nonce;
            //             user = response.name;
            //         },
            //         error: function (xhr) {
            //         }
            //     }
            // );
        }
        
        function recomputeHeight() {
            //set pages min height
            
            let containerHeader = document.querySelector("#container-header");
            let footer = document.querySelector(".footer-v1");
            let whiteContent = document.querySelector(".white-content");
            
            let height = window.innerHeight - containerHeader.clientHeight - footer.clientHeight;
            whiteContent.style.minHeight = `${height}px`;
        }
        window.addEventListener('resize', recomputeHeight);
        
        document.addEventListener("DOMContentLoaded", function() {       
            recomputeHeight();
    
            try {
                loadNonce();
                //detect if we are on mobile
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    document.querySelector("div.webgl-content").style.display = 'none';
                    document.querySelector("#gameContainer2").style.display = 'block';
                    //document.querySelector("#container-content-home").style.minHeight = "0px"; // ?
                } else {
                    gameInstance = UnityLoader.instantiate("gameContainer", "@Context.AddFileVersionToPath(Model.UnityJsonPath)", {onProgress: UnityProgress});
                }
            } catch (err) {
                console.log(err)
            }
            
            document.querySelectorAll(".img-hover").forEach(function(hoverButton) {
                hoverButton.addEventListener("mouseover", function()
                {
                    hoverButton.dataset["imgOriginal"] = hoverButton.src;
                    hoverButton.src = hoverButton.dataset["imgOver"];
                });
                hoverButton.addEventListener("mouseleave", function()
                {
                    hoverButton.src = hoverButton.dataset["imgOriginal"];
                });
            });
        });
    </script>
</head>

<body>
<div class="wrapper" style="background-color: #35c0ff">
    <div class="container" id="container-header">
        <div class="header">
            <div class="row nav-bar">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <a class="logo logo-home" href="/">
                        <img src="/assets/ww/logo_beta.png" alt="Weevil World Logo" asp-append-version="true"/>
                    </a>
                </div>
                <div class="col-lg-7 hidden-md hidden-sm hidden-xs nav-center">
                    <img class="nav-green-bg" src="/assets/img/blog/navbar/nav.png" alt=""/>
                    <div class="nav-icons">
                        <a href="https://web.archive.org/web/20201202160834/https://www.binweevils.com/membership/payment/package">
                            <img class="img-hover" src="/assets/img/blog/navbar/nav-membership1.png" data-img-over='@Context.AddFileVersionToPath("/assets/img/blog/navbar/nav-membership2.png")' alt="" asp-append-version="true"/>
                        </a>
                        <a href="https://web.archive.org/web/20201202160834/http://news.binweevils.com/">
                            <img class="img-hover" src="assets/img/blog/navbar/nav-blog1.png" data-img-over='@Context.AddFileVersionToPath("/assets/img/blog/navbar/nav-blog2.png")' alt="" asp-append-version="true"/>
                        </a>
                        <a href="https://web.archive.org/web/20201202160834/https://www.binweevils.com/parents_overview">
                            <img class="img-hover" src="/assets/img/blog/navbar/nav-parents1.png" data-img-over='@Context.AddFileVersionToPath("/assets/img/blog/navbar/nav-parents2.png")' alt="" asp-append-version="true"/>
                        </a>
                        <a href="https://web.archive.org/web/20201202160834/https://support55pixels.helpshift.com/a/bin-weevils/" target="_blank" rel="noopener">
                            <img class="img-hover" src="/assets/img/blog/navbar/nav-help1.png" data-img-over='@Context.AddFileVersionToPath("/assets/img/blog/navbar/nav-help2.png")' alt="" asp-append-version="true"/>
                        </a>
                    </div>
                </div>
                <div class="hidden-lg visible-md hidden-sm hidden-xs nav-center-medium">
                    <img class="nav-green-bg-medium" src="/assets/img/blog/navbar/medium/nav.png" alt=""/>
                    <div class="nav-icons-medium">
                        <a href="https://web.archive.org/web/20201202160834/https://www.binweevils.com/membership/payment/package">
                            <img class="img-hover" src="/assets/img/blog/navbar/medium/nav-membership1.png" data-img-over='@Context.AddFileVersionToPath("/assets/img/blog/navbar/medium/nav-membership2.png")' alt="" asp-append-version="true"/>
                        </a>
                        <a href="https://web.archive.org/web/20201202160834/http://news.binweevils.com/">
                            <img class="img-hover" src="/assets/img/blog/navbar/medium/nav-blog1.png" data-img-over='@Context.AddFileVersionToPath("/assets/img/blog/navbar/medium/nav-blog2.png")' alt="" asp-append-version="true"/>
                        </a>
                        <a href="https://web.archive.org/web/20201202160834/https://www.binweevils.com/parents_overview">
                            <img class="img-hover" src="/assets/img/blog/navbar/medium/nav-parents1.png" data-img-over='@Context.AddFileVersionToPath("/assets/img/blog/navbar/medium/nav-parents2.png")' alt="" asp-append-version="true"/>
                        </a>
                        <a href="https://web.archive.org/web/20201202160834/https://support55pixels.helpshift.com/a/bin-weevils/" target="_blank" rel="noopener">
                            <img class="img-hover" src="/assets/img/blog/navbar/medium/nav-help1.png" data-img-over='@Context.AddFileVersionToPath("/assets/img/blog/navbar/medium/nav-help2.png")' alt="" asp-append-version="true"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm hidden-xs nav-right-login-www" style="">
                    <div>
                        <a href="https://binweevils.net">
                            <img class="" src="/assets/ww/go_to_button_002.png" asp-append-version="true">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=== Content Part ===-->
    <div class="under-container-content">
        <div class="container white-content" id="container-content-home" style="background-color: #35c0ff">
            <div class="webgl-content" style="width:960px; height:600px; margin: 10px auto">
                <div id="gameContainer" style="width:960px; height:600px; margin: 10px auto"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="gameContainer2" style=" margin: 10px auto;position: relative;display: none">
                        <img src="/assets/ww/SplashNobtns.png" alt="" class="img-responsive" style="margin: auto" asp-append-version="true">
                        <div style="position: absolute; top:50%; text-align: center; right:0; left:0">
                            <a href="https://apple.co/2sDgVvN">
                                <img src="/assets/ww/appleAppBtn.png" alt="" asp-append-version="true">
                            </a>
                            <a href="https://bit.ly/2rLYLIb">
                                <img src="/assets/ww/googleplayBtn.png" alt="" asp-append-version="true">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
</div>
<!--/container-->
<!--=== End Content Part ===-->

<!--=== Footer ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div id="footer-links" class="col-sm-8 col-xs-12">
                    <ul class="list-unstyled " style="float: left;">
                        <li>
                            <a href="https://web.archive.org/web/20201202160834/https://www.binweevils.com/aboutus">About Us</a>
                        </li>
                        <li>
                            <a class="separator">|</a>
                        </li>
                        <li>
                            <a href="https://web.archive.org/web/20201202160834/https://www.binweevils.com/parents_overview">Parents &amp; Safety</a>
                        </li>
                        <li>
                            <a class="separator">|</a>
                        </li>
                        <li>
                            <a href="https://web.archive.org/web/20201202160834/https://www.binweevils.com/terms">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a class="separator">|</a>
                        </li>
                        <li>
                            <a href="https://web.archive.org/web/20201202160834/https://www.binweevils.com/privacy">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="separator">|</a>
                        </li>
                        <li>
                            <a href="https://web.archive.org/web/20201202160834/https://advertise.binweevils.com/" target="_blank" rel="noopener">Advertise</a>
                        </li>
                        <li>
                            <a class="separator">|</a>
                        </li>
                        <li>
                            <a href="https://web.archive.org/web/20201202160834/https://support55pixels.helpshift.com/a/bin-weevils/?contact=1" target="_blank" rel="noopener">
                                Contact
                                Us
                            </a>
                        </li>
                    </ul>
                    <br/>
                    <a class="pull-left footer-ltd">© Bin Weevils Ltd 2020</a>
                </div>
                <div class="col-sm-4">
                    <div>
                        <img src="/assets/ww/ContinuePlayingOn.png" alt="" asp-append-version="true">
                        <a href="https://bit.ly/2rLYLIb">
                            <img src="/assets/ww/googleplayBtn.png" alt="" asp-append-version="true">
                        </a>
                        <a href="https://apple.co/2sDgVvN">
                            <img src="/assets/ww/appleAppBtn.png" alt="" asp-append-version="true">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Footer ===-->
<!--/wrapper-->

</body>
</html>